:root {
  --white: #fff;
  --dark-green: #063;
  --grey: #bfbfbf;
  --green: #55ae3a;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
}

nav {
  background-image: url(./imgs/background/menu-line-bcgrnd.svg);
}

/** Nav menu **/

nav {
  width: 100%;
  height: 57.915px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-section {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
}

nav .left-section .menu-icon {
  width: 32px;
  height: 32px;
  margin-right: 32px;
}

nav .logo {
  margin-right: 32px;
}

nav .menu-line ul {
  display: flex;
  flex-direction: row;
}
nav .menu-line ul li {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  cursor: pointer;
}

nav .menu-line ul li:hover {
  scale: 1.1;
}
nav .menu-line ul li:hover,
nav .menu-line ul li h2:hover,
nav .menu-line ul li img:hover {
  color: var(--green);
  filter: invert(50%) sepia(28%) saturate(979%) hue-rotate(61deg)
    brightness(109%) contrast(91%);
}

nav .menu-line ul li img {
  margin-right: 8px;
  width: 24px;
  cursor: pointer;
}

nav form {
  position: relative;
  display: inline-block;
}

nav .nav-search {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 306px;
  height: 20px;
  padding: 10px 19px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--dark-green);
  background: var(--white);
  margin-right: 72px;
  border: none;
}

nav .nav-search div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

nav form .search-btn {
  border: none;
  background-color: #ffffff00;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

nav .nav-search {
  padding-left: 35px;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

nav form .search-btn img:hover {
  filter: invert(50%) sepia(28%) saturate(979%) hue-rotate(61deg)
    brightness(109%) contrast(91%);
}

nav .nav-search::placeholder {
  color: var(--grey);
}

main {
  margin: 30px 72px 62px 72px;
}

.left-section {
  width: 856px;
}
.left-section .first-div {
  height: 480px;
  margin: 0 24px 32px 0;
}

.left-section .first-div .first-div-text {
  height: 216px;
}

.hero-picture {
  position: relative;
  display: inline-block;
}

.hero-picture .hero-picture-div {
  color: var(--white);
  background: linear-gradient(0deg, #363636 0%, rgba(54, 54, 54, 0) 100%);
  position: absolute;
  bottom: 0%;
  padding: 28px 20px 20px 20px;
}

.hero-picture .hero-picture-div h5 {
  overflow: hidden;
  color: var(--white);
  text-overflow: ellipsis;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-weight: 800;
  word-wrap: break-word;
  overflow: hidden;
}
.title {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 32px;
  background-color: var(--green);
  transform: skewX(-30deg);
}

.title img {
  width: 20px;
  height: 20px;
  transform: skewX(30deg);
  margin-right: 4px;
}

.title h4 {
  color: var(--Fehr, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transform: skewX(30deg);
  font-family: "Inter", sans-serif;
}

.first-div .first-div-text h5 {
  width: 816px;
  height: 120.251px;
  font-size: 32px;
  line-height: 40px;
  margin-top: 19px;
}
.left-section .first-div .first-div-text .title {
  margin-top: 28px;
}
.second-div {
  display: flex;
  justify-content: space-between;
}

.second-div .second-div-section-1 {
  width: 416px;
  height: 233px;
}

.second-div .second-div-section-1 h5 {
  margin-top: 15px;
  width: 376px;
  height: 65px;
  overflow: hidden;
  font-size: 24px;
  line-height: 32px;
}
