:root {
  --white: #fff;
  --dark-green: #063;
  --grey: #bfbfbf;
  --green: #55ae3a;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
}

nav {
  background-image: url(./imgs/background/menu-line-bcgrnd.svg);
}

/** Nav menu **/

nav {
  width: 100%;
  height: 57.915px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-section {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
}

nav .left-section .menu-icon {
  width: 32px;
  height: 32px;
  margin-right: 32px;
}

nav .logo {
  margin-right: 32px;
}

nav .menu-line ul {
  display: flex;
  flex-direction: row;
}
nav .menu-line ul li {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  cursor: pointer;
}

nav .menu-line ul li:hover {
  scale: 1.1;
}
nav .menu-line ul li:hover,
nav .menu-line ul li h2:hover,
nav .menu-line ul li img:hover {
  color: var(--green);
  filter: invert(50%) sepia(28%) saturate(979%) hue-rotate(61deg)
    brightness(109%) contrast(91%);
}

nav .menu-line ul li img {
  margin-right: 8px;
  width: 24px;
  cursor: pointer;
}

nav form {
  position: relative;
  display: inline-block;
}

nav .nav-search {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 306px;
  height: 20px;
  padding: 10px 19px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--dark-green);
  background: var(--white);
  margin-right: 72px;
  border: none;
}

nav .nav-search div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

nav form .search-btn {
  border: none;
  background-color: #ffffff00;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

nav .nav-search {
  padding-left: 35px;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

nav form .search-btn img:hover {
  filter: invert(50%) sepia(28%) saturate(979%) hue-rotate(61deg)
    brightness(109%) contrast(91%);
}

nav .nav-search::placeholder {
  color: var(--grey);
}
